 .tabs {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin: 0;
  }
  .burgerIngredient{
      width: 600px;
      display: flex;
      flex-direction: column;
      height: 756px;
      overflow: scroll;
  }
  .burgerIngredient::-webkit-scrollbar {
      width: 8px;
      height: 0; 
      background-color: #2F2F37;
  }
  .burgerIngredient::-webkit-scrollbar-thumb {
      background-color: #8585AD;
  }