.section {
  width: 272px;
  height: 208px;
  text-align: center;
  position: relative;
  }
  .burgerIngredient h2 {
    margin: 0;
  }
  .tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    z-index: -1;
  }
  .fat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }
  .fatPosition{
    position: absolute;
  }
  .categories {
    width: 240px;
    height: 120px;
  }
  .categories::-webkit-scrollbar {
    width: 8px;
  }
  .categories::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);
  }
  .categories::-webkit-scrollbar-thumb {
    background-color: rgba(133, 133, 173, 1);
  }
  .burgerIngredient{
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 756px;
    overflow: scroll;
}
.burgerIngredient::-webkit-scrollbar {
  width: 8px;
  height: 0; 
  background-color: #2F2F37;
}
.burgerIngredient::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
.burgerIngredient h3{
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 36px;
}
.tabMenu{
    display: flex;
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-size: 16px;
}
.list{
    height: 756px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ingredientTitle{
    width: 600px;
}