.title {
    position: relative;
    display: flex;
    height: 64px;
    width: 640px;
    justify-content: space-between;
    align-items: center;
}
.modal {
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    border-radius: 40px;
}
